<h1 class="title well">
      <h1 class="page-title">Vehicles - <span class="fw-semi-bold">Infinite Scroll </span></h1>
    <section>
    <small>items: {{sum}}, now triggering scroll: {{direction}}</small>
    </section>
    <section>
      <button class="btn btn-info" (click)="toggleModal()">Open Infinite Scroll in Modal</button>
    </section>
  </h1>
  <modal *ngIf="modalOpen" (onClose)="toggleModal()"></modal>
  <div class="search-results"
        infinite-scroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollUpDistance]="scrollUpDistance"
        [infiniteScrollThrottle]="throttle"
        (scrolled)="onScrollDown()"
        (scrolledUp)="onUp()">
    <p *ngFor="let i of array">
      {{ i }}
    </p>
  </div>